# Frontend
NEXT_PUBLIC_API_URL=https://agrivision-ai-ktvr.onrender.com

# Backend
FRONTEND_URL=https://agrivision-ai-iota.vercel.app

# Environment
ENVIRONMENT=production

# Model
MODEL_PATH=./model/agrivision_model.keras
